.chatroom-container {
  color: white;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  background-color: white;
  color: black;
  width: 70%;
  margin: 8px 16px;
  padding: 8px;
  border-radius: 4px;
  p {
    margin: 0px;
  }
}

#message-submit-container {
  margin-bottom: 16px;
}
