.chatroom-container {
  color: white;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.chat-message {
  background-color: white;
  color: black;
  width: 70%;
  margin: 8px 16px;
  padding: 8px;
  border-radius: 4px;
  p {
    margin: 0px;
  }
}

#message-submit-container {
  margin: 16px;
}

#sticky-header {
  position: sticky;
  top: 0px;
  background-color: black;
  position: auto 0;
  padding-top: 25px;

}

#sticky-header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 84px;
}

.chatroom-btn {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: black;
  margin-bottom: 8px;
}

.chatroom-avatar {
  margin-right: 5px;
  img {
    width: 25px;
    height: 25px;
    border-radius: 150px;
    object-fit: cover;
    overflow: hidden;
  }
}

.chatroom-user-info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
