.top_container{
  display: flex;
  flex-direction: row;

  h2{
    color: #0DFDCC;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;

  }
}

.back_button{
  background-color: #CFFF0F;
  border-radius: 4px;
  color: black;
  text-align: center;
  width: 50px;
  height: 30px;
  margin-top: 10px;
  margin-left: 160px;
  padding-top: 4px;
  padding-bottom: 4px;
  a {
    text-decoration: none;
    color: black;
    // font-weight: bold;
  }
}

.end_page_btns{
  display: flex;
  flex-direction: row;
  .cancel_account{
    background-color: #CFFF0F;
    border-radius: 10px;
    // color: black;
    text-align: center;
    width: auto;
    margin-left: 64px;

    button {
      text-decoration: none;
      color: black;
      // font-weight: bold;
    }
  }
  .form_update{
    background-color: #CFFF0F;
    border-radius: 10px;
    // color: black;
    text-align: center;
    width: 100px;
  }
}

.content_form{
  margin: 25px;
}
