// .match-container{

// }

// .match-row{

// }

// .match-col{

// }

.match-header{
color: #0DFDCC;
text-align: center;
}

// .match-subheader{

// }

.match-card{
  background: #FFFFFF;
  width: 326px;
  height: 66px;
  left: 0px;
}
