.match-container{
  background: black;
}



// .match-col{

// }

.match-header{
color: #0DFDCC;
text-align: center;
}

// .match-subheader{

// }

// .matches{}

// }

.match-row{
display: flex;
}

.match-card{
  background: #FFFFFF;
  width: 326px;
  left: 0px;
  height: 66px;
  text-decoration: none;

}
.match-triangle{
  background: linear-gradient(to top left, #fff 0%, #fff 50%, blackwhite 50%, white 20%);
  width: 100px;
  height: 66px;
}
