.posts-index-container, .edit-post-container, .new-post-container {
  color: #0DFDCC;
  width: 90%;
  margin: 0 auto;
}

.community-posts{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.community-post {
  display: flex;
  flex-direction: column;
}

.community-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
}

#event-add-button {
  margin-top: 72px;
}

.community-post-header {
  background-color: #0DFDCC;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  font-weight: 600;
  margin-bottom: 10px;
  p {
    font-family: 'Roboto';
    font-style: italic;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
}

.community-post-feedback {
  background-color: #0DFDCC;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  p {
    margin-bottom: 8px;
  }
}

.community-post-comment {
  padding: 5px;
  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    padding: 5px;
  }
}

.post-links {
  display: flex;
  justify-content: space-between;
  color: #CFFF0F;
  margin-bottom: 10px;
  margin-top: 5px;
  a {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 10pt;
    text-decoration: none;
    color: #CFFF0F;
  }
}

.fa-hand-point-up {
  font-size: 32px;
  margin: auto 0;
}

.community-post-photo img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
}

.post-likes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.post-likes-link {
  text-decoration: none;
  color: black;
  margin-bottom: 3px;
  margin-left: 2px;
}
.post-likes-number {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 22px;
}

.likes-icon {
  width: 43px;
  height: 64px;
}

.post-changes {
  display: flex;
  p {
    margin-left: 16px;
  }
}

.user-post-details {
  display: flex;
  align-items: center;
  .avatar-small {
    margin-right: 8px;
  }
}
