.comments-container {
  width: 90%;
  margin: 0 auto;
  form {
    margin-bottom: 32px;
  }
}

#new_post_comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.add-comment-btn {
  margin-top: 14px;
}

.post_comment_content {
  flex-grow: 1;
}

.post-content {
  background-color: #0DFDCC;
  margin-bottom: 16px;
  height: 68px;
  justify-content: space-between;
  padding: 4px 8px;
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
}

.post-content, .post-comment-message {
  display: flex;
  align-items: center;
  p {
    margin: 0px;
  }
}

.post-comment-message {
  width: 100%;
  background-color: white;
  margin-bottom: 12px;
  padding: 12px 8px;
  overflow-wrap: break-word;
}

.black-link {
  text-decoration: none;
  color: black;
}

.own-post {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fa-hand-point-up {
  margin-left: 16px;
}
