.profile-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;

  .notifications-icon {
    width: 40px;
    height: 40px;
  }

  .edit-btn {
    background-color: #0DFDCC;
    height: 40px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &:hover {
      background-color: #CFFF0F;
    }
    a{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.name_header{
  color: #0DFDCC;
  background-color: black;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 5px;
  background-color: black;
  z-index: -1;

  .profile_img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
  }

  .profile_info{
    background-color: #CFFF0F;
    width: 65%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    margin-right: 5px;
    margin-left: -35px;
    margin-right: -30px;
    padding-left: 45px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -1;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 16px;
  }
}

#profile_card{
  color: #0DFDCC;
  background-color: black;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &:hover {
    color: #CFFF0F;
  }

  // a {
  //   color: #0DFDCC;
  //   font-family: 'Oswald';
  //   font-style: normal;
  //   font-weight: 500;
  //   text-decoration: none;
  //   &:hover {
  //     color: #CFFF0F;
  //   }
  // }

  // .events_created{
  //   margin-left: 116px;
  // }
}

// .view-all-btn {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   flex-direction: column;
//   background-color: #0DFDCC;
//   height: 40px;
//   width: 100px;
//   a {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 18px;
//     color: black;
//     text-transform: uppercase;
//     text-decoration: none;
//     text-align: center;
//   }
//   &:hover {
//     background-color: #CFFF0F;
//   }
// }
