.profile-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;

  .notifications-icon {
    width: 40px;
    height: 40px;
  }

  .edit-btn {
    background-color: #CFFF0F;
    height: 40px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    a{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.name_header{
  color: #0DFDCC;
  background-color: black;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 5px;
  background-color: black;
  z-index: -1;

  .profile_img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
  }

  .profile_info{
    background-color: #d5f849;
    width: 65%;
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    margin-right: 5px;
    margin-left: -35px;
    margin-right: -30px;
    padding-left: 45px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -1;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 16px;
  }
}

#profile_card{
  color: #0DFDCC;
  background-color: black;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upcoming-created-events{
  display: flex;
  flex-direction: column;

  h3 {
    color: black;
    text-align: center;
  }
  #booking_card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f2ffc0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  #event_card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #c0fef2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .event_info{
    list-style-type: none;
    margin: 10px;
    margin-left: -25px;
    border-radius: 7px;
    background-color: #CFFF0F;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0px 5px 5px 0px  rgba(0,0,0,0.12);
    border: 2px solid;
    border-color: #667f00;
    #one {
      text-decoration: bold;
      color: black;
    }
    .created{
      text-decoration: none;
    }
  }

  .card_info{
    list-style-type: none;
    margin: 10px;
    margin-left: -25px;
    border-radius: 7px;
    background-color: #0DFDCC;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0px 5px 5px 0px  rgba(0,0,0,0.12);
    border: 2px solid;
    border-color: #00866b;
    #one {
      text-decoration: bold;
      color: black;
    }
    .created{
      text-decoration: none;
    }

  }
  #b-card{
    width: auto;
    height: auto;
    background-color: #c0fef2;
    border: solid;
    border-color: #0DFDCC;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -1px;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
  #a-card{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f2ffc0;
    border: solid;
    border-color: #c8fa00;
    width: auto;
    height: auto;
    margin-left: -1px;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .passed_booking{
    background-color: #c8c8c8 !important;
    border-color: #667f00;
    #a-card{
      background-color: #d5d5d5 !important;
      border-color: #c8c8c8;
    }
  }
  .passed_event{
    background-color: #c8c8c8 !important;
    border-color: #00866b;
    #b-card{
      background-color: #d5d5d5 !important;
      border-color: #c8c8c8;
    }
  }

  a{
    text-decoration: none;
  }
}
