.simple_form {
  margin-left: 25px;
  margin-right: 25px;
}

.form-label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
}
