<div class="comments-container">
  <div id="sticky-header">
    <h1 class="upcase-header" id="sticky-header-bar">Comments</h1>
  </div>

  <div class="post-comments">
      <% @post.post_comments.each do |post_comment| %>
          <%= render "comment", post_comment: post_comment %>
      <% end %>
  </div>

  <div>
      <%= simple_form_for [@post, @post_comment], html: { data: { action: "turbo:submit-end->post-subscription#resetForm" } }  do |f| %>
        <%= f.input :content %>
        <%= f.submit "SEND", class: "small-turquiose-btn" %>
      <% end %>
  </div>
</div>
