<div class="match-container">
  <div>
    <div class="match-col">
      <div class="upcase-header">Matches</div>
      <div class="matches-search-form" data-controller="search-matches" data-search-matches-team-value=<%= current_user.team ? "#{current_user.team}" : "nil" %>>
        <%= form_with url: matches_path,
          method: :get,
          html: {class: "search-form", data: {search_matches_target: "form"}} do |f|
        %>
          <%= f.text_field :query,
            class: "input",
            placeholder: "Search Matches",
            value: params[:query],
            data: {
              search_matches_target: "input",
              action: "keyup->search-matches#update"
            }
          %>
          <i class="fa fa-search"></i>
        <% end %>

          <div class="match-filter-bar" data-action="click->search-matches#filter">
            <p data-search-matches-target="teamFilter" class="green-btn filter-btn">My Team<p>
          </div>

        <%= render "list", matches: @matches %>
      </div>
    </div>
  </div>
</div>
