<div class="new-post-container">
  <h1 class="upcase-header">Edit Post</h1>

  <div>
    <%= simple_form_for(@post) do |f| %>
      <div class="name-input">
        <%= f.input :content %>
      </div>
      <%= f.input :photo, as: :file %>
        <%= f.submit link_to "UPDATE", posts_path, class: "turquiose-btn", id: "event-create-btn"%>
    <% end %>
  </div>
</div>
