.back-arrow {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-self: start;
  margin-top: 25px;
}

.fa-sharp {
  color: #0DFDCC;
  font-size: 20pt;
  &:hover{
    color: #CFFF0F;
  }
}

#back-arrow-margin {
  margin-left: 25px;
}

#back-arrow-small-margin {
  margin-left: 5.5px;
  margin-top: 0px;
}

#back-arrow-margin-left {
  margin-left: 25px;
  margin-top: 0px;
}

#back-arrow-margin-top {
  margin-left: 5.5px;
  margin-top: 25px;
}
