.event-card {
  background-color: white;
  border-style: #CFFF0F;
  list-style: none;
  margin-top: 24px;
  padding: 8px;
  border: 3px solid #CFFF0F;
  a {
    text-decoration: none;
    color: black;
  }
}
