.upcase-header {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  color: #0DFDCC;
  text-transform: uppercase;
}

.downcase-header {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  color: #0DFDCC;
  text-transform:lowercase;
}

.cap-header {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  color: #0DFDCC;
}

.black-upcase-subheader {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  color: black;
  text-transform: uppercase;
}
