<div class="locations-container">
  <div>
    <h1>LOCATION</h1>
  </div>

  <div>
    <form>
  </div>

  <div class="locations-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <button class="turquiose-btn">SELECT</button>
</div>
